:root,:root[theme-mode="light"]{
--brand-main: var(--td-brand-color-7);
--td-brand-color-light: var(--td-brand-color-1);
--td-brand-color-focus: var(--td-brand-color-2);
--td-brand-color-disabled: var(--td-brand-color-3);
--td-brand-color-hover: var(--td-brand-color-6);
--td-brand-color: var(--td-brand-color-7);
--td-brand-color-active:var(--td-brand-color-8);
--td-brand-color-1: #e0ecff;
--td-brand-color-2: #c0d9fe;
--td-brand-color-3: #a1c6fe;
--td-brand-color-4: #7fb3fe;
--td-brand-color-5: #5e9ffe;
--td-brand-color-6: #3b89fd;
--td-brand-color-7: #0d6efd;
--td-brand-color-8: #025cf3;
--td-brand-color-9: #0149d9;
--td-brand-color-10: #0036bd;
--td-warning-color-1: #ffe9a5;
--td-warning-color-2: #ffd041;
--td-warning-color-3: #ffc107;
--td-warning-color-4: #e49f00;
--td-warning-color-5: #d08a00;
--td-warning-color-6: #ba7600;
--td-warning-color-7: #a56300;
--td-warning-color-8: #8e5100;
--td-warning-color-9: #783f00;
--td-warning-color-10: #623000;
--td-warning-color: var(--td-warning-color-5);
--td-warning-color-hover: var(--td-warning-color-4);
--td-warning-color-focus: var(--td-warning-color-2);
--td-warning-color-active: var(--td-warning-color-6);
--td-warning-color-disabled: var(--td-warning-color-3);
--td-warning-color-light: var(--td-warning-color-1);
--td-error-color-1: #fbe6e8;
--td-error-color-2: #f6cdd1;
--td-error-color-3: #f2b4b9;
--td-error-color-4: #ed9aa2;
--td-error-color-5: #e97e89;
--td-error-color-6: #e4616d;
--td-error-color-7: #dc3545;
--td-error-color-8: #cd1925;
--td-error-color-9: #b00d14;
--td-error-color-10: #920508;
--td-error-color: var(--td-error-color-6);
--td-error-color-hover: var(--td-error-color-5);
--td-error-color-focus: var(--td-error-color-2);
--td-error-color-active: var(--td-error-color-7);
--td-error-color-disabled: var(--td-error-color-3);
--td-error-color-light: var(--td-error-color-1);
--td-success-color-1: #c5f4df;
--td-success-color-2: #85e8bb;
--td-success-color-3: #34d98d;
--td-success-color-4: #24c47a;
--td-success-color-5: #20ae6c;
--td-success-color-6: #1c985e;
--td-success-color-7: #198754;
--td-success-color-8: #0d6f36;
--td-success-color-9: #065b23;
--td-success-color-10: #024815;
--td-success-color: var(--td-success-color-5);
--td-success-color-hover: var(--td-success-color-4);
--td-success-color-focus: var(--td-success-color-2);
--td-success-color-active: var(--td-success-color-6);
--td-success-color-disabled: var(--td-success-color-3);
--td-success-color-light: var(--td-success-color-1);
--td-text-color-anti: #fff;
--td-text-color-brand: var(--td-brand-color);
--td-text-color-link: var(--td-brand-color);
}

:root[theme-mode="dark"]{
--brand-main: var(--td-brand-color-6);
--td-brand-color-light: var(--td-brand-color-1);
--td-brand-color-focus: var(--td-brand-color-2);
--td-brand-color-disabled: var(--td-brand-color-3);
--td-brand-color-hover: var(--td-brand-color-5);
--td-brand-color: var(--td-brand-color-6);
--td-brand-color-active:var(--td-brand-color-7);
--td-brand-color-1: #5e9ffe20;
--td-brand-color-2: #0149d9;
--td-brand-color-3: #025cf3;
--td-brand-color-4: #0d6efd;
--td-brand-color-5: #3b89fd;
--td-brand-color-6: #5e9ffe;
--td-brand-color-7: #7fb3fe;
--td-brand-color-8: #a1c6fe;
--td-brand-color-9: #c0d9fe; 
--td-brand-color-10: #e0ecff;
--td-warning-color-1: #4f2a1d;
--td-warning-color-2: #582f21;
--td-warning-color-3: #733c23;
--td-warning-color-4: #a75d2b;
--td-warning-color-5: #cf6e2d;
--td-warning-color-6: #dc7633;
--td-warning-color-7: #e8935c;
--td-warning-color-8: #ecbf91;
--td-warning-color-9: #eed7bf;
--td-warning-color-10: #f3e9dc;
--td-error-color-1: #472324;
--td-error-color-2: #5e2a2d;
--td-error-color-3: #703439;
--td-error-color-4: #83383e;
--td-error-color-5: #a03f46;
--td-error-color-6: #c64751;
--td-error-color-7: #de6670;
--td-error-color-8: #ec888e;
--td-error-color-9: #edb1b6;
--td-error-color-10: #eeced0;
--td-success-color-1: #193a2a;
--td-success-color-2: #1a4230;
--td-success-color-3: #17533d;
--td-success-color-4: #0d7a55;
--td-success-color-5: #059465;
--td-success-color-6: #43af8a;
--td-success-color-7: #46bf96;
--td-success-color-8: #80d2b6;
--td-success-color-9: #b4e1d3;
--td-success-color-10: #deede8;
--td-text-color-primary: var(--td-font-white-1);
--td-text-color-secondary: var(--td-font-white-2);
--td-text-color-placeholder: var(--td-font-white-3);
--td-text-color-disabled: var(--td-font-white-4);
--td-text-color-anti: #fff;
--td-text-color-brand: var(--td-brand-color);
--td-text-color-link: var(--td-brand-color);
}